page-pages-qr-viewer {
    background: transparent!important;
    background-color: transparent;
}

ion-content {
    background: transparent!important;
    background-color: transparent;
    height: 100%;
}

.bead {
    border: solid;
    border-color: red;
    border-width: 4px;
    vertical-align: 50%;
    height: 40%;
    margin-top: 50%;
    margin-left: 50%;
    width: 40%;
}